* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* align-content: space-around; */
    flex-flow: row nowrap;
    background-color: yellow;
    height: 500px;
}

.flex-item {
    background-color: red;
    color: white;
    width: 100%;
    /* flex-grow: 1;
    flex-basis: 320px;
    flex-shrink: 1; */
    /* flex: 1 1 320px; Representa todos acima. */
}

.flex-item:nth-child(3) {
    font-size: 40px;
    align-self: flex-end;
}

.flex-item:nth-child(2) {
    align-self: center;
}

.flex-item:nth-child(4) {
    align-self: stretch;
}